* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #9EBC9F, #D3B88C);
    color: #230903;
}

header {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #656256;
    color: #F4F2F3;
    padding: 1rem;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 1rem;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

ul {
    list-style: none;
    gap: 1rem;
    display: flex;
    justify-content: center;
}

ul li a {
    text-decoration: none;
    color: #656256;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: 0.3s ease;
}

ul li a:hover {
    background-color: #656256;
    color: #F4F2F3;
}

.inicio{
    max-width: 200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}