* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #9EBC9F, #D3B88C);
    color: #000;
}

header {
    max-width: 1000px;
    margin: 0 auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 1rem;
    text-align: center;
    background-color: #656256;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

nav {
    max-width: 1000px;
    margin: 0 auto;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #656256;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: 0.5s ease;
}

nav ul li a:hover {
    background-color: #656256;
    color: #fff;
}

.contenedor {
    max-width: 1000px;
    margin: 2rem auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

footer {
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
    background-color: #656256;
    color: #fff;
}

h2 {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 12px;
    color: #F4F2F3;
    background-color: #656256;
}

h3 {
    color: #9EBC9F;
}

.tema img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.1s ease;
}

.tema img:hover {
    transform: scale(1.2) rotate(2deg);
}

.text-center {
    text-align: center;
}

.colorm{
    background-color: #656256;
}

.info {
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    background-color: #F4F2F3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.info ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.info ul li a {
    text-decoration: none;
    color: #656256;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: 0.5s ease;
}

.info ul li a:hover {
    background-color: #656256;
    color: #F4F2F3;
}