td{
    border: 1px solid #000;
}

.caja{
    width: 200px;
    height: 200px;
    margin: auto;
}

.caja2 {
    background-color: green;
    border-radius: 100%;
}

.caja4 {
    background-color: green;
    border-radius: 100%;
}

.caja6 {
    background-color: green;
    border-radius: 100%;
}