td{
    border: 1px solid #000;
}

.caja2 {
    background-color: green;
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.caja4 {
    background-color: green;
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.caja6 {
    background-color: green;
    border-radius: 100%;
    width: 150px;
    height: 150px;
}